.menuHeader {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	padding: 2px;
	background-image: url(menu_header.gif);
	background-repeat: repeat-x;
	line-height: 16px;
	color: #99CCFF;
}
.menuLinks {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 25px;
	list-style-type: none;
	text-decoration: underline;
	font-weight: normal;
}
.menuLinks:link {
	
}
.menuLinks:visited {
	
}
.menuLinks:hover {
	color: #990000;
}
.menuLinks:active {
	text-decoration: underline;
	color: #FF0000;
}
.menuTable {
	width: 100%;
	border: 1px solid #000033;
	margin-bottom: 10px;
}
.menuCell {
	background-color: #EEEEEE;
	padding: 5px 5px 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}
.centerHeader {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	background-image: url(main_header.jpg);
	background-repeat: repeat-x;
	line-height: 25px;
	color: #000033;
}
.centerTable {
	border: 1px solid #6699CC;
	margin-bottom: 10px;
}
.centerCell {
	background-color: #EEEEEE;
	padding: 10px;
	margin: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}
.centerLinks {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	line-height: 16px;
}
.tableAd {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}
a:link {
	color: #0033CC;
}
a:visited {
	color: #0033CC;
}
a:hover {
	color: #990000;
}
a:active {
	color: #FF0000;
}
.topMenu {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #CCCCCC;
	margin: 6px;
	padding: 6px;
	background-image: url(topmenu_bg.jpg);
}
.topMenuLink:link {
	color: #FFCC00;
	text-decoration: none;
}
.topMenuLink:visited {
	color: #FFCC00;
	text-decoration: none;
}
.topMenuLink:hover {
	color: #FF9900;
	text-decoration: none;
}
.topMenuLink:active {
	color: #FFFFFF;
	text-decoration: none;
}
select {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
}
input {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
}
.topTable {
	width: 100%;
}
.topCell {
	background-image: url(top_bg.gif);
	background-repeat: repeat;
	margin: 5px 10px;
	padding: 10px;
	border: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: italic;
	color: #99CCFF;
}
.imgBullet {
	margin: 1px 5px 1px 1px;
}
.bold {
	font-weight: bold;
}
.navLinks {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
}
